/* Reset the CSS */
* {padding: 0; margin: 0;}



/* Uncomment the line below to see outlines
   around <div> tags */

/* div {outline: 1px dotted #F0F;} */



/* Set the HTML document to occupy the whole screen */
html {height: 100%;}




/*  Set a body-wide font, a minimum width as well
    as set to full screen */
body {
    height: 100%;
    width: 100%;
    min-width: 720px;
    font: 16px sans-serif;
    overflow: hidden;
}


/*  This div encases everything, to allow for easier document-wide settings 
    to be applied. Sets a minimum height for use when resizing the window.
    Referenced using 'id' */
#wrapper {
    height: 100%;
    width: 100%;
    min-height: 400px;
}

/* Set the style for the Header div, referenced using class */
.header {
    position: fixed;
    z-index: 900;
    height: 10%;
    width: 100%;
    color: #fff;
    min-height: 50px;
    display: none;
}

#instructions {
    position: absolute;
    z-index: 800;
	top: 100%;
	text-align: center;
    width: 100%;
    color: #fff;
    height: 70px;
    margin-top: -70px;
    background: rgba(0,0,0,0.7);
    animation:instructions 20s;
    -webkit-animation:instructions 20s;
}
#instructions p:first-child {
    padding-top:  10px;
}


/* Set the style for the Nav (sidebar) div, referenced using class */
.nav {
    display: none;
    width: 20%;
    height: 90%;
    float: left;
    background: #ddd;
	text-align:  center;
    text-shadow: 1px 1px 3px #DDD;
	line-height: 20px;
}

/* Set the style for the links in the nav div */
.nav a:link { text-decoration: none; }
.nav a:visited { color: #4B0082; }
.nav a:active { color: green; }
.nav a:hover {
    font-size:24px;
    font-weight:bold;
    color: blue;
    border-right: 6px solid blue;
    padding-right: 9px;
    }


/* Set the style for the Main section div, referenced using class */
.main {
    width: 100%;
    height: 100%;
    background: #eee;
}




/* Set the style for H1 tags inside the header */
.header h1 {
    line-height: 50px;
    text-align:  center;
    text-shadow: 1px 1px 3px #DDD;
    padding: 5px 20px;
}


#maincanvas {
	margin: 0;
	background-color: #000;
	
}


/* Configure the canvas, and set a background image */
canvas {
	float: center;
	width: 100%;
    height: 100%;
	/*background:url(images/backgrounds/space2.jpg);*/
	background-size: 100%;
	outline: none;
}



div.logotext {
    position: absolute;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    background: url(images/logo/logotext.png) center 20px no-repeat;
    background-size: 473px 120px;
     margin-top: -240px;
    animation:logotext 5s;
    -webkit-animation:logotext 5s;
}



div.logographic {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 503px;
    background: url(images/logo/logo1.png) center bottom no-repeat;
    animation:logographic 3s;
    -webkit-animation:logographic 3s;
}


@-webkit-keyframes logographic
{
0%   {margin-top:0px; background-size: 200px 176px;}
10%  {margin-top:-503px; background-size: 573px 503px;}
70%  {margin-top:-503px; background-size: 573px 503px;}
100%  {background-size: 200px 176px; margin-top: 0; }
}



@-webkit-keyframes logotext
{
0%   {margin-top: 0;  background-size: 100px 26px;}
10%  { background-size: 473px 120px;}
70%  { margin-top: 0;  background-size: 473px 120px;}
100%  { margin-top: -240px; }
}

@-webkit-keyframes instructions
{
0%   {margin-top: 0;}
28%   {margin-top: 0;}
32%  { margin-top: -70px;}
100% {margin-top:  -70px;}

}